@import "variables/variables";
$selector:#BF616A;
$background:#2E3440;
::selection{
    color:$selector;
    background: $background;
}
body{
    margin: auto;
    font-size: 1.25rem;
    font-family: nimbus;
    color:#D8DEE9;
    vertical-align: baseline;
}
.btn{
    border-radius: 0;
}
.me h1,.me h6{
    font-family: bnimbus;
    
}
.me{
    margin-top: 100px;
    text-align: center;
}
hr{
    width: 85%;
}
.row{
text-align: center;
}   
.btn-outline-danger{
    color:$aurora0;
    border-color:$aurora0;
}
.btn-outline-danger:hover{
    color:#fff;
    background-color:$aurora0;
    border-color:$aurora0
}
.btn-outline-primary{
    color:$frost3;
    border-color:$frost3
}
.btn-outline-primary:hover{
    color:#fff;
    background-color:$frost3;
    border-color:$frost3}


